<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="${description}" />

    <title>Appcelerator Documentation Guides : ${title}</title>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="http://developer.appcelerator.com/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/syntax.css" />
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/print.css" media="print" />

    <script type="text/javascript" src="../assets/javascripts/guides.js"></script>
    <script type="text/javascript" src="../assets/javascripts/code_highlighter.js"></script>
    <script type="text/javascript" src="../assets/javascripts/highlighters.js"></script>
</head>
<body>

<header role="banner">
	<div id="header">
		<div class="titlebarLogo">
			<h1><a href="http://developer.appcelerator.com/" title="Appcelerator Developer Center">Appcelerator</a></h1>
			<div class="arrow"></div>
		</div>
		<div class="squeeze">
			<h2><a href="http://developer.appcelerator.com/" title="Appcelerator Developer Center">Developer Center</a></h2>
			<nav>
				<div class="login">
					<a class="last" href="http://www.appcelerator.com" title="Appcelerator.com"><img src="http://developer.appcelerator.com/assets/img/dotcom.png" style="position:relative;top:4px;left:8px;"
						alt="Appcelerator"/></a>
				</div>
			</nav>
		</div>
	</div>
	<div id="nav">
		<div class="squeeze">
			<nav>
				<div class="primary">
					<div><a href="http://developer.appcelerator.com/get_started" title="Get Started">Get Started</a></div>
					<div><a href="http://developer.appcelerator.com/questions" title="Q&A">Q&A</a></div>
					<div><a href="http://developer.appcelerator.com/documentation" title="Docs">Docs</a></div>
					<div><a href="http://developer.appcelerator.com/training" title="AppU Training">AppU Training</a></div>
					<div><a href="http://developer.appcelerator.com/tools" title="Products">Products</a></div>
					<div class="last"><a href="http://developer.appcelerator.com/get_help" title="Get Help">Get Help</a></div>
					<div class="clear"></div>
				</div>
			</nav>
			<nav>
				<div class="secondary">
					<a class="last" title="My Q&A" href="http://developer.appcelerator.com/myqa">My Q&amp;A</a>
				</div>
			</nav>
		</div>
	</div>
</header>

<div id="subheader">
    <div class="wrapper clearfix">
      <h1><a href="index.html" title="Return to home page">Appcelerator Documentation</a></h1>
      <p class="hide"><a href="#mainCol">Skip navigation</a>.</p>
      % if globals.has_key('website'):
      <ul class="nav" style="margin-top:0">
      % else:
      <ul class="nav">
      % endif      
        <li class="index"><a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Guides Index</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <%
                left_sections = {}
                right_sections = {}
            %>
            <dl class="L">
                % for s in sections:
                % for g in s['books']:
                % if g['menu']=='left':
                % if not left_sections.has_key(s['title']):
                    <dt>${s['title']}</dt>
                <% left_sections[s['title']]=True %>     
                % endif    
                    <dd><a href="${g['source'].replace('.md','.html')}">${g['name']}</a></dd>
                % endif
                % endfor
                % endfor
            </dl>
            <dl class="R">
                % for s in sections:
                % for g in s['books']:
                % if g['menu']=='right':
                % if not right_sections.has_key(s['title']):
                    <dt>${s['title']}</dt>
                <% right_sections[s['title']]=True %>     
                % endif    
                    <dd><a href="${g['source'].replace('.md','.html')}">${g['name']}</a></dd>
                % endif
                % endfor
                % endfor
            </dl>
          </div>
        </li>	
				<li><a href="http://developer.appcelerator.com">Dev Center</a></li>
				<li><a href="contribute.html">Contribute</a></li>
        <li><a href="credits.html">Credits</a></li>
      </ul>
      % if globals.has_key('website'):
      <br/>        
      <div style="margin-top:19px;">          
          <div style="float:right">
              <input type="type" value="" id="search" style="width:330px;font-size:16px"/> 
              <input type="image" id="search_btn" src="../assets/images/search.png" style="position:relative;top:8px"/>
          </div>
      </div>
      % endif
    </div>
  </div>
